body {

    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../images/champions_league.jpg");
    background-size: 100% 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    object.style.fontWeight = "bolder";
}

.img-container {
    text-align: center;
    display: block;
}